.visitCardWrapper {
    padding-top: 100px;
}

.visitCard {
    padding: 80px 40px;
    background: linear-gradient(
        0deg,
        rgba(15, 16, 21, 1),
        rgba(196, 173, 210, 1)
    ) !important;
    background-origin: border-box;
    border-radius: 30px !important;
    color: #fff !important;
    overflow: hidden;
}
